#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#about {
  padding: 40px 0;
}

#contact {
  padding: 40px 0;
  text-align: center;
}

#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#projects {
  padding: 40px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 28px;
  color: #fff;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

Header li {
  list-style: none;
}
Header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

Header li {
  margin-right: 30px;
  cursor: pointer;
  list-style: none !important;
}

Header li:hover {
  transform: translateY(-3px);
  transition: transform 0.2s ease-in-out;
}

Header a {
  text-decoration: none;
  color: #fff;
}

Header a:hover {
  text-decoration: underline;
}
@import "~@fortawesome/fontawesome-free/css/all.css";

.profile-image {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  max-width: 300px;
  border-radius: 50%; 
}

.contact-links a {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.contact-links a:not(:last-child) {
  margin-bottom: 20px;
}

.contact-links .icon {
  margin-right: 10px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 300px;
  margin: 20px;
  text-align: center;
}

.project img {
  max-width: 100%;
}
